@import url(navstyle.css);

h3 {
    font-size: 16px !important;
    color: #1a6692;
    font-weight: 100;
    margin-bottom: 30px !important;
}

h2 {
    font-size: 28px;
    font-weight: 500;
    color: #1e1e1e;
}

h4 {
    color: #1a6692;
    font-size: 16px;
    margin-bottom: 10px;
}

.container {
    max-width: 1200px !important;
    width: 100% !important;
}

.page-head {
    background-image: url(assets/images/about-heading.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 500px;
    min-height: 500px;

    h1 {
        font-size: 53px;
        letter-spacing: 1.5px;
        color: white;
    }

    h2 {
        color: #f33f3f;
        font-size: 30px;
    }
}

.background {
    margin-top: 100px;
 h2 {
            border-bottom: 1px solid #eee;
            padding-bottom: 30px;
        }

    .details {
        margin-top: 50px;
        display: flex;
        padding-bottom: 67px;
        border-bottom: 1px solid #eee;

       
        .what {
            margin-left: 27px;
            display: block;

            ul {
                display: flex;
                list-style-type: none;

                li {
                    margin-right: 12px;
                }

                a {
                    color: black;
                    font-size: 25px;
                    text-align: center;
                    width: 30px;
                    background-color: #eee;
                    line-height: 50px;

                    .fa {
                        font-size: 30px;
                        width: 50px;
                        height: 50px;
                        text-align: center;
                        text-decoration: none;
                        margin: 5px 2px;
                    }
                }

                a:hover {
                    background-color: #f33f3f;
                    color: white;
                }
            }
        }
    }
}

.members {
    margin-top: 100px;

    h2 {
        border-bottom: 1px solid #eee;
        padding-bottom: 30px;
    }

    .grid {
        display: grid;
        grid-gap: 30px;
        grid-row: 30px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin-top: 41px;

        .member-card {
            text-align: center;
            align-items: center;
            justify-content: center;
            border: 1px solid #eee;

            img {
                width: 100%;
                margin-bottom: 12px;
            }

            h5 {
                color: #f33f3f;
                font-size: 17px;
            }

            p {
                margin: 27px;
            }
        }
    }
}

.services {
    background-image: url(assets/images/services-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    object-fit: cover;
    background-attachment: fixed;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 190px 68px;

    .grid {
        display: grid;
        grid-gap: 53px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));

        .services-item {
            text-align: center;
            align-items: center;
            justify-content: center;

            .services-details {
                background-color: white;
                padding: 50px;

                a button {
                    border: none;
                    padding: 3px 8px;
                    color: white;
                    font-size: 12;
                    background-color: #f33f3f;
                    font-size: 21px;
                    border-radius: 5px;
                    margin: 12px 0px;
                }

                a:hover button {
                    background-color: black;
                    color: white;
                }
            }

            .div-icon {
                background-color: #f7f7f7;
                padding: 40px;

                .fa {
                    background-color: #f33f3f;
                    font-size: 120px;
                    color: #f7f7f7;
                }
            }
        }
    }
}

.partners {
    margin-top: 100px;
    h2{
        border-bottom: 1px solid #eee;
        padding-bottom: 30px;
    }
    .img-grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
        margin: 44px 0px 80px 0px;
        border-bottom: 1px solid #eee;
        padding-bottom: 54px;
    }
}

footer {
    text-align: center;
    color: #4a4a4a;
    margin: 50px 0;
}
